#cart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    background-color: var(--color-fondo);
}

.imageCartItem{
    width: 20rem;
    border-bottom: 1px solid black;
}

.imageCart{
    width: 70%;
    height: 5rem;
    object-fit: cover;
}

.nameCartItem, .priceCartItem, .amountCartItem{
    width: 15rem;
    border-bottom: 1px solid black;
}

.nameCartItem a{
    text-decoration: none;
}

.removeCartItem{
    width: 15rem;
    text-align: center;
    border-bottom: 1px solid black;
    color: var(--color-primario)
}

.inforCart{
    width: 80%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    gap: var(--espaciado);
    align-items: end;
    justify-content: center;
}

#totalPrice{
    color: var(--color-primario);
    font-size: var(--texto-grande);
    font-weight: bold;
    text-align: center;
    margin: 0;
    align-self: center;
}

.cartOperation{
    text-decoration: none;
    width: 1.2rem;
    height: 1rem;
    padding: 0.3rem;
    margin: 0.5rem;
    color: var(--color-fondo);
    background-color: var(--color-texto);
    border: 1px solid transparent;
    transition: all 0.5s;
}

.cartOperation:hover{
    background-color: #00000055;
    color: var(--color-texto);
}
